<button type="button" class="btn btn-default navbar-btn">
	<%= link_to('Post') %>
</button>  
<button type="button" class="btn btn-default navbar-btn">	
	<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
</button>  


<p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link"><%= current_user.email %></a></p>

 
 

 <h1> DO YOU EVEN SQUAT?</H1>